modules = ["python-base-3.13", "nodejs-24"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
mode = "sequential"
author = 54411406

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 server.py"

[[ports]]
localPort = 5000
externalPort = 80
