modules = ["python-base-3.13", "nodejs-24"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Run-v1"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Siyarati_v1"
mode = "sequential"
author = 54411406

[[workflows.workflow.tasks]]
task = "workflow.run"
args = ""

[[ports]]
localPort = 5000
externalPort = 80
